<div class="plyer-board">
  <div class="gcen">
    <div class="cenInfo">
      <h1 *ngIf="!winner">current player : {{ player}}</h1>
      <h2 *ngIf="winner">
        player {{ winner }} won the game
      </h2>  
      <div class="cenBtn">
        <button nbButton outline status="danger" shape="round" (click)="newGame()">Restart</button>
      </div>
    </div>
  </div>
</div>


<main>
  <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
  </app-square>
</main>